@import "tailwindcss";
@theme {
  --color-primary: #00A884;
  --color-primary-dark: #008F73;
  --color-profile-bg:rgb(210, 212, 213);
  --color-bgInput:rgb(237, 240, 240);
  --color-background: #F0F2F5;
  --color-white: #FFFFFF;

  --color-chat-sent: #D9FDD3;
  --color-chat-received: #FFFFFF;

  --color-text: #111B21;
  --color-text-secondary: #54656F;

  --color-border: #E5E7EB;
  --color-hover: #EBECEF;

  --color-icon: #54656F;

  --color-sidebar-bg: #FFFFFF;
  --color-chat-bg: #EFEFEF;

  --color-online: #4CAF50;

  --color-bColor:#ececec;

  --color-text_dark:#929593
}

::-webkit-scrollbar{
  width: 0;
}